* {
    text-align: center;
    font-family: "Roboto";
    font-weight: 330 black;
}
div{
    width: 100%;
}

p{
    font-size: 20px;
    margin-bottom: 0px;
}
#paragraph1{
    font-size: 35px;
}
#paragraph2{
    font-size:35px ;
}
#paragraph3{
font-size: 35px;
}

h3 {
    font-size: 45px;
}

body {
    font-size: 18px;
    margin: 0;
}

.small {
    font-size: 12px;
}

/* .container
{
    width: 700px;
    margin: 0 auto;
    text-align: center; 
} */
img {
    height: 280px;
    width: 280px;
    border-radius: 50%;
}

.myname {
    font-size: 40px;
}

.public {
    font-size: 55px;
}

a{
    font-size: 20px;
    font-weight: 500;
    color: greenyellow;
}

a:hover {
    color: #131313;
}

.heading1 {
    background-color:#d7d7d7 ;
    padding-top: 25px;
    padding-bottom: 40px;
}

.section1 {
    background-color: #ffeaea;
    padding-top: 25px;
    padding-bottom: 40px;
}

.article1 {
    background-color: #eaf9ff;
    padding-top: 25px;
    padding-bottom: 40px;
}
